/**
 * Reset CSS v2.0
 * http: //meyerweb.com/eric/tools/css/reset/
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size:  100%;
  font: inherit;
  vertical-align:  baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:  block;
}
body {
  line-height:  1;
}
ol, ul {
  list-style:  none;
}
blockquote, q {
  quotes:  none;
}
blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body, h1, ul, li {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: bold;
}

body {
  background-color: #fff;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.oldie body:after {
  content: 'Sorry! Your browser does not support web components!';
  position: fixed;
  background: #fbfbc8;
  color: #FD6563;
  top: 0;
  width: 100%;
  padding: 1.2em 0;
  line-height: 1.4;
  text-align: center;
  z-index: 99;
}

.oldie css-doodle {
  visibility: hidden;
  display: inline-block;
  width: 1em;
  height: 1em;
  overflow: hidden;
}

.wrap {
  max-width: 53.125em;
  margin: 0 auto;
  padding: 0 2em;
}

css-doodle {
  color: transparent;
}
  css-doodle:not(:defined) {
    visibility: hidden;
  }
  css-doodle[flags] {
    display: block;
    width: 100%;
    height: 20vh;
    max-height: 10em;
    overflow: hidden;
    min-width: 900px;
    margin: 0 auto;
  }
  css-doodle[docs-bg] {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100vw;
    height: 100%;
  }
  css-doodle.click-to-update {
    cursor: pointer;
  }

textarea[code] {
  width: 100%;
  font-size: 1em;
  font-family: monospace;
  resize: none;
  border: none;
}

.first-code-sample .CodeMirror-line:first-child {
  letter-spacing: -1.5px;
}

.code-sample .CodeMirror {
  height: auto;
  padding: 1em;
  cursor: default;
  background: #f9fcfa;
  border: 1px solid #dee8e2;
  border-radius: 3px;
}
  .code-sample .CodeMirror-scroll,
  .CodeMirror-scroll {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
  }
  .code-sample .CodeMirror-cursor {
    display: none;
  }
  .cm-s-3024-day span.cm-tag {
    color: #E91E63;
  }
  .cm-s-3024-day span.cm-string {
    color: #FF9800;
  }
  .cm-s-3024-day span.cm-def {
    color: #512DA8;
  }
  .cm-s-3024-day span.cm-comment {
    color: #4CAF50;
  }
  .cm-s-3024-day span.cm-atom,
  .cm-s-3024-day span.cm-number {
    color: #2196f3;
  }


.cover {
  background-color: #0a0c27;
  overflow: hidden;
  position: relative;
}
  .cover header {
    text-align: center;
    overflow: hidden;
  }
  .cover h1 {
    margin-top: 2em;
    margin-bottom: .5em;
    color: rgba(174, 172, 251, .62);
    font-size: 3em;
    font-weight: normal;
    line-height: 1;
  }
  .cover em {
    color: rgba(174, 172, 251, 1);
    font-style: normal;
  }
  .cover p {
    color: rgba(174, 172, 251, .62);
    font-size: 1.2em;
    padding: 0 2em;
    line-height: 1.4;
  }
  .cover nav {
    padding: 1em 0 0;
    margin-top: 1em;
  }
    .cover nav a {
      font-size: .8em;
      margin: 0 .2em;
      color: rgba(174, 172, 251, .62);
      text-decoration: none;
      min-width: 5em;
      display: inline-block;
      padding: 8px 12px;
      position: relative;
      transition: all .2s;
      border-radius: 4px;
      border: 1px solid currentColor;
    }
      .cover nav a:hover {
        color: rgba(174, 172, 251, .9);
        background: rgba(174, 172, 251, .05);
      }

  @media (max-width: 30.125em) {
    .cover h1 {
      font-size: 2.2em;
    }
    css-doodle[flags] {
      transform: translateX(-40%);
    }
  }


.playground {
  transition: all .2s ease;
  width: 100%;
  max-width: 900px;
  margin: 6em auto;
  display: flex;
  align-items: center;
  height: 420px;
}
  .playground .doodle {
    overflow: hidden;
    position: relative;
    background: rgba(255, 255, 255, .03);
  }
  .playground .doodle,
  .playground .source {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: all .2s ease;
    flex: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
  }
  .playground css-doodle {
    cursor: pointer;
  }
  .playground .source {
    max-width: 50%;
  }
    .playground .source:empty {
      background: rgba(231, 231, 251, .06);
    }
      .playground .source:empty:after {
        content: none;
      }
    .playground .source .CodeMirror {
      font-size: 120%;
      line-height: 1.2;
      padding: .5em 1em;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background: #e7e7fb;
    }

  @media (max-width: 55.625em) {
    .playground  {
      position: relative;
      display: block;
      width: 80vw;
      height: 80vw;
      max-width: 400px;
      max-height: 400px;
      margin: 3em auto;
      box-shadow: none;
    }
    .playground {
      background: transparent;
    }
    .playground .source {
      display: none;
    }
    .playground .doodle {
      background: none;
    }
  }


.docs {
  padding: 5em 0 0;
  position: relative;
  overflow: hidden;
}
  .docs .wrap {
    position: relative;
    z-index: 2;
  }
  .docs p  {
    font-size: 120%;
    line-height: 1.6;
    color: #6c6079;
    margin-bottom: 1em;
  }
    .docs p code {
      font-family: monospace;
      margin: 0 2px;
    }
    .docs p .tip {
      font-size: .8em;
      color: #aaa;
    }
    .docs .has-preview {
      display: flex;
    }
      .docs .has-preview .code-sample {
        width: 61.8%;
      }
      .docs .has-preview css-doodle {
        margin-left: 1.4em;
      }

      @media (max-width: 34.0625em) {
        .docs .has-preview {
          display: block;
        }
        .docs .has-preview .code-sample {
          width: 100%;
        }
        .docs .has-preview css-doodle {
          margin: 0;
          margin-top: 1em;
        }
      }
    .docs > section {
      margin-bottom: 4em;
    }
    .docs article {
      margin-bottom: 4em;
    }

    .docs article > section {
      margin-bottom: 3.6em;
    }
  .docs .list-items {
    padding-left: 1em;
    font-size: 1em;
    line-height: 1.4;
    color: #666;
  }
    .docs .list-items li {
      padding: 2px 5px;
      border-radius: 2px;
    }
  .docs em {
    font-weight: 500;
    color: #333;
  }
  .docs a:link,
  .docs a:visited {
    text-decoration: none;
    color: #3f51b5;
    border-bottom: 2px solid;
  }
  .docs a:hover {
    background: rgba(213, 231, 255, .7);
  }
  .docs h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 1.5em;
    position: relative;
  }
  .docs h3 {
    font-size: 1.5em;
    margin-bottom: 2em;
    position: relative;
  }
    .docs h3 a[name] {
      position: absolute;
      top: -2em;
    }
  .docs h4 {
    position: relative;
    font-size: 1.2em;
    margin-bottom: 1em;
  }

    .docs h2 a[href^="#"],
    .docs h3 a[href^="#"],
    .docs h4 a[href^="#"],
    .docs h5 a[href^="#"] {
      position: absolute;
      left: -1em;
      width: 1em;
      padding: 1px .2em;
      border-bottom: none;
      opacity: 0;
    }

    .docs h2:hover a[href^="#"],
    .docs h3:hover a[href^="#"],
    .docs h4:hover a[href^="#"],
    .docs h5:hover a[href^="#"] {
      opacity: 1;
      background: none;
    }

    .docs h2 a[name],
    .docs h3 a[name],
    .docs h4 a[name],
    .docs h5 a[name] {
      position: absolute;
      top: -1.9em;
    }

  .docs .nav {
    list-style: square;
    color: #3f51b5;
    padding: 1em 1.5em 0;
    margin-bottom: 4em;
  }
    .nav > li {
      line-height: 1.4;
      font-size: 1.2em;
    }
    .nav > li {
      margin-bottom: .5em;
    }
      .nav li a {
        text-decoration: none;
        font-size: 1em;
      }
      .nav li a:link, .nav li a:visited {
        border-bottom: none;
      }
      .nav li code {
        border: 1px solid #eee;
        padding: 2px 6px;
        border-radius: 2px;
        display: inline-block;
      }

    .nav > ul {
      padding: .5em 1.5em;
      list-style: disc;
    }
      .nav > ul li {
        margin-bottom: .5em;
      }
      .nav li ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .5em;
        list-style: none;
        padding: 1em 0;
        margin: 0;
      }

    @media (max-width: 35em) {
      .nav li ul {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media (max-width: 28.5em) {
      .nav li ul {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .nav li ul li {
      font-size: .8em;
      display: inline-block;
    }
    .nav li ul a {
      display: block;
      padding: .7em;
      background: rgba(240, 240, 240, .6);
    }
    .nav li ul a:link, .nav li ul:visited {
      color: rgba(63, 81, 181, .85);
    }

    .usage .example {
      margin-bottom: 4em;
    }
    .docs .sep {
      margin: 4em 0;
      width: 40%;
      height: 1px;
      background: rgba(119, 165, 222, .4);
    }
    .docs h5 {
      color: #000;
      font-size: 1.2em;
      margin-bottom: 2em;
      position: relative;
    }
    .basic-shapes {
      margin-top: 2em;
    }
    .basic-shapes p {
      margin-bottom: 0;
    }
    .basic-shapes .shapes {
      display: flex;
      flex-wrap: wrap;
    }
    .basic-shapes .shape {
      text-align: center;
      display: flex;
      align-items: center;
      width: 25%;
      margin-bottom: .5em;
    }
      @media (max-width: 695px) {
        .basic-shapes .shape {
          width: 33.33%;
        }
        .basic-shapes .shape:last-child {
          display: none;
        }
      }

      @media (max-width: 568px) {
        .basic-shapes .shape {
          flex-flow: column;
        }
      }

  .basic-shapes .title {
    font-size: .6em;
  }
  .basic-shapes css-doodle {
    width: 3em;
    height: 3em;
    margin: .5em;
  }

  .alien-shapes {
    margin-top: 2em;
  }
    .alien-shapes:after {
      content: '......';
      display: block;
      width: 100%;
      text-align: center;
      margin: 2em 0;
      color: #60569e;
    }
    .alien-shapes .tip {
      margin: 1em 0 2em;
    }
    .alien-shapes .code-sample {
      font-size: 120%;
      line-height: 1.6;
      color: #6c6079;
      margin-bottom: 1em;
    }
      .alien-shapes-preview css-doodle {
        cursor: pointer;
      }
      .alien-shapes-preview span {
        display: block;
        margin-left: 1.4em;
        margin-top: 1em;
        color: #666;
      }
      @media (max-width: 34.0625em) {
        .alien-shapes-preview span {
          margin-left: 0;
        }
        .alien-shapes .shapes css-doodle {
          --size: 2em;
          height: 20em;
        }
      }


.example {
  width: 100vw;
  height: 100vh;
  min-height: 380px;
  overflow: hidden;
  z-index: 2;
  position: relative;
}
  .example .code-sample {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    max-width: 90%;
    transform: translate3d(-50%, -50%, 0);
    line-height: 1.4;
    font-size: 1.2em;
    overflow: hidden;
  }
    .source:after,
    .code-sample:after  {
      content: '';
      position: absolute;
      width: 50px;
      height: 1px;
      right: 0;
      top: 0;
      border: 0;
      transform-origin: 0 0;
      transform: translate(12px) rotate(45deg);
      box-shadow:
        0 -5px 0 0 rgba(255, 255, 255, .8),
        0 -8px 0 0 rgba(255, 255, 255, .6),
        0 -12px 0 0 rgba(255, 255, 255, .4),
        0 -17px 0 0 rgba(255, 255, 255, .2),
        0 -22px 0 0 rgba(255, 255, 255, .2);
    }
    .source:after {
      box-shadow:
        0 -5px 0 0 rgba(231, 231, 252, .8),
        0 -8px 0 0 rgba(231, 231, 252, .6),
        0 -12px 0 0 rgba(231, 231, 252, .4),
        0 -17px 0 0 rgba(231, 231, 252, .2),
        0 -22px 0 0 rgba(231, 231, 252, .2);
    }
    .source .CodeMirror,
    .example .code-sample .CodeMirror {
      background: rgba(255, 255, 255, .9);
      border-radius: 0;
      border: 0;
      --polygon: polygon(
        0 0,
        calc(100% - 35px) 0,
        100% 35px,
        100% 100%,
        0 100%
      );
      -webkit-clip-path: var(--polygon);
              clip-path: var(--polygon);
    }

footer {
  padding: 3em 0;
  position: relative;
  overflow: hidden;
}
  .about {
    color: #9ba2af;
    line-height: 1.8;
    position: relative;
    text-align: center;
  }
    .about a:link,
    .about a:visited {
      text-decoration: none;
      color: #3f51b5;
      border-bottom: 2px solid;
    }
    .about a:hover {
      background: rgba(213, 231, 255, .7);
    }
